# Тестовое задание на позицию Junior Analyst
## Часть 2. Техническое задание
В файле «data.xlsx» представлены данные по поступлению денежных средств от клиентов компании N за покупку ее услуг.

### Описание данных
- `client_id` - ID клиента;
- `sum` – сумма денежных средств;
- `status` – статус оплаты;
- `sale` – менеджер, заключивший сделку;
- `new/current` – статус сделки;
- `document` – наличие оригинала подписанного договора с клиентом;
- `receiving_date` – дата получения оригинала договора

In [1]:
# необходимые библиотеки
import pandas as pd

In [2]:
# данные
data = pd.read_excel('data.xlsx')
data.head()

,client_id,sum,status,sale,new/current,Unnamed: 5,document,receiving_date
0,NaN,NaN,Май 2021,NaN,NaN,NaN,NaN,NaN
1,6.0,11693.7,ВНУТРЕННИЙ,-,-,NaN,-,-
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,NaN,оригинал,2021-07-26 00:00:00
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       724 non-null    float64
 1   sum             724 non-null    float64
 2   status          730 non-null    object
 3   sale            724 non-null    object
 4   new/current     724 non-null    object
 5   Unnamed: 5      0 non-null      float64
 6   document        709 non-null    object
 7   receiving_date  607 non-null    object
dtypes: float64(3), object(5)
memory usage: 45.8+ KB

Сначала необходимо привести данные в минимальный порядок. В частности, убрать стобец с пустыми значениями (*Unnamed*) и вывести месяц в колонке статус в отдельную колонку.

In [4]:
# удаление пустого столбца
data = data.drop(columns=['Unnamed: 5'], axis=1)

In [ ]:
# выделение информации из *status* в другой столбец